@import "tailwindcss";

@theme {
    --color-whisper: #f9f8f5;
    --color-mineshaft: #2d2d2d;
}

label {
    @apply block text-sm font-medium text-gray-700 mb-1;
}

.generalInput {
    @apply w-full px-3 py-2 border border-slate-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all;
}
